@import "tailwindcss";
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite";
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .note ul, .note ol {
    all: revert;
  }
}

/* my stuff */

#app > * {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex !important;
  flex-direction: column;
  row-gap: 2rem;
}

a {
  color: 
}

time, .tooltip {
  border-bottom: 1px dotted #000;
  cursor: help;
}

div.note {
  color: #444;
  font-style: italic;
  white-space: pre-wrap;
}

div.note a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* end my stuff */

/* oneliner no-wrap tables from flowbite */

td.oneliner {
  white-space: collapse !important;
}

td.oneliner > * {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-height: 1lh;
}
